* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.pad_100 {
	padding-top: 100px;
	padding-bottom: 100px;
}

header {
	background-color: #ffffff;
	width: 100%;
	height: 80px;
	text-align: center;
	display: inline-block;
	position: fixed;
	top: 0px;
	padding: 1rem;
	z-index: 3;
}

header nav {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

nav .logo {
	height: 48px;
}

header img {
	display: inline-block;
	height: 100%;

}

header li {
	display: inline-block;
	list-style: none;
	padding-top: 1rem;
	padding-left: 1rem;
	list-style: none;
	padding-left: 1rem;
	padding-top: 1rem;
	position: relative;
}

header ul ul {
	display: none;
	position: absolute;
	background-color: #ffffff;
	padding: 1rem;
}

header ul li:hover ul {
	display: block;
}

header ul li:hover a {
	color: red;
}


header a {
	display: flex;
	text-decoration: none;
	font-family: "dutch801 Rm BT", serif;
	font-weight: bold;
	letter-spacing: 1.5px;
	color: #662483;
	text-transform: uppercase;
	margin-top: 2px;

}

header a #active{
	color: red;
}



#titulo {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	padding-top: 80px;
	font-family: "dutch801 Rm BT", serif;
	letter-spacing: 1.5px;
	color: red;
	font-size: 30px;
	text-align: center;
	line-height: 1.6;
}

.content{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-items: : center;
	max-width: 1170px;
	margin-right: auto;
	margin-left: auto;
	padding: 1.5em;

}

.contacto-w > * {
	padding-bottom: : 1em;

}

.contacto-form form{
	margin:0;
	padding: 2em;

}

.contacto-form form button,
.contacto-form form input,
.contacto-form form textarea {
	width: 100%;
	padding: .3em;
	margin-bottom: 1em;
	border: none;
	background: none;
	outline: none;
	color:#662483;
	border-bottom: 1px solid red;
}

.contacto-form form button {
	background-color: red;
	border: 0;
	padding: .7em;
	width: 150px;
	color: #ffffff;
	font-family: "dutch801 Rm BT", serif;
	letter-spacing: .1em;
	text-transform: uppercase;
}

form{
	width: 100%;

}


#label{
	font-family: "dutch801 Rm BT", serif;
	letter-spacing: 1.5px;
	color: red;
	font-size: 15px;
	text-align: center;
	
}